<H1>
Python Programming
<H1>

In [5]:
from statistics import mode
string = input()
word = string.split()[::-1]
Reverse = []
for i in word:
    Reverse.append(i)
print(" ".join(Reverse))
temp = [word for sub in Reverse for word in sub.split()]
print(mode(temp),':',str(Reverse.count(mode(temp))),'times')
temp = [i for i in temp if i != mode(temp)]
print(mode(temp),':',str(Reverse.count(mode(temp))),'times')

This declaration represents a political commitment among declaration partners to advance a positive vision for the Internet in this era of a united europe
europe united a of era this in Internet the for vision positive a advance to partners declaration among commitment political a represents declaration This
a : 3 times
declaration : 2 times

<H1>
Assignment-01 SQL
<H1>

In [ ]:
CREATE DATABASE dataset
use dataset
CREATE TABLE sales_detail(Cat_Id ,Product_Id ,Trending)
INSERT INTO sales_detail VALUES
('1' ,'100','1'),
('1' ,'200','2'),
('2' ,'300','1'),
('2' ,'301','2'),
('3' ,'401','1'),
('3' ,'402','2'),
('4' ,'500','1'),
('4' ,'502','2'),
('5' ,'600','1'),
('5' ,'601','2')
SELECT * FROM sales_detail  
ORDER BY Cat_Id DESC
ORDER BY Cat_Id ASC

<H1>
Assignment-02 SQL
<H1>

In [ ]:
CREATE TABLE Customer (Customer_Id varchar(255));
INSERT INTO Customer VALUES('Customer_Id'),('Abhinash'),('Vipin'),('Mahesh'),('Bijoy'),('Bhabani'),('Ashutosh')
    
CREATE TABLE Voucher (Voucher_Id varchar(255) UNIQUE);
INSERT INTO Voucher VALUES('ABXFH'),('SDFGH'),('ERTYY'),('PPLKM')
    
with cte 
as(select *,row_number() over(order by Customer_Id) row from Customer)
cte2 as(select *,row_number() over(order by Voucher_Id) row from Voucher)
    
select Customer_Id Customer_Key,Voucher_Id Gift_Voucher_Key
from cte c1
join cte2 c2 on c1.row=c2.row

<H1>
Assignment-02 UNIX
<H1>

In [ ]:
mkdir grocery
cd grocery
pwd
cat purchase_history_02Jan21.txt
cat purchase_history_03Jan21.txt 
cat purchase_history_31Jan21.txt 
cat purchase_history_02Jan21.txt purchase_history_03Jan21.txt purchase_history_31Jan21.txt >>purchase_history_JanAll.txt

<H1>
Assignment-01 UNIX
<H1>

In [ ]:
product_name,
customer,
date,
category,
amt
Nylon Y Neck, Ramesh, 2020-01-02, Shirt,799.00
Nylon Z Neck, Rajesh, 2020-01-02, Shirt,899.00
Nylon Z Neck, Rajesh, 2020-01-03, Shirt,699.00
Nylon V Neck, Rakesh, 2020-01-02, Shirt,799.00